<div class="mt-3">
  <%= simple_form_for estate do |f| %>
    <%= f.input :name %>
    <%= f.input :street %>
    <%= f.input :city %>
    <%= f.input :description %>
    <%= f.submit class: 'btn btn-primary' %>
  <% end %>
</div>
